<footer style="background-color: whitesmoke; bottom: 0; left: 0">
    <div class="container-fluid pt-lg-5">
        <div class="container">
            <div class="row">
                &copy TEDS 2021
            </div>
        </div>
    </div>
</footer>
