<h2 class="c-parme bd-bt">Détails des sites</h2>

<table class="table table-striped table-hover" id="sites_table">
    <thead>
        <tr class="table-dark">
            {% include 'helpers/table-head/client.html.twig' %}
            <th>Nom du site</th>
            <th data-filter="false">Date de mise en ligne</th>
            <th data-filter="false">En ligne</th>
            {% include 'helpers/table-head/actif.html.twig' %}
            {% include 'helpers/table-head/servers.html.twig' %}
            {% include 'helpers/table-head/domains.html.twig' %}
            {% include 'helpers/table-head/clickcollects.html.twig' %}
            {% include 'helpers/table-head/empty-non-sortable.html.twig' %}
        </tr>
    </thead>
    <tbody>
    {% for currentSite in sites %}
        <tr class="align-middle">
            {% set client = currentSite.client %}
            {% include 'helpers/table-body/client.html.twig' %}
            <td>{{ currentSite.name }}</td>
            {% include 'helpers/table-body/date.html.twig' with {'date': currentSite.onlineDate} only %}
            {% include 'helpers/table-body/oui-non.html.twig' with {'boolean': currentSite.online} only %}
            {% include 'helpers/table-body/oui-non.html.twig' with {'boolean': currentSite.enable} only %}
            {% include 'helpers/table-body/servers.html.twig' %}
            {% include 'helpers/table-body/domains.html.twig' %}
            {% include 'helpers/table-body/clickcollects.html.twig' %}
            {% include 'helpers/table-body/edit-link.html.twig' with {'link': path('site_edit', {'id': currentSite.id})} only %}
        </tr>
    {% endfor %}
    </tbody>
</table>
