<form method="post" action="{{ path('click_and_collect_delete', {'id': currentClickAndCollect.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimmer ceci ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currentClickAndCollect.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
