{% extends 'base.html.twig' %}

{% block title %}ClickAndCollect index{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block bandeau %}
        {{ parent() }}
    {% endblock %}
    <div class="yellow row div-title">
        <div class="col-sm">
            <h1 class="title-index bd-bt">Click & Collect</h1>
        </div>
    </div>

    <div class="container-fluid pt-4">
        <div class="row ps-5">
            <div class="col-11 offset-1 pt-3 ps-5">
                <a href="{{ path('click_and_collect_new') }}" class="btn parme float-end">Ajouter un Click & Collect</a>
                {% if clickAndCollects|length %}
                    {% include 'click_and_collect/details.html.twig' %}
                {% else %}
                    <p>Aucun Click & Collect</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
