<form method="post" action="{{ path('click_and_collect_delete', {'id': currentClickAndCollect.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currentClickAndCollect.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
