<form method="post" action="{{ path('social_network_delete', {'id': currentSocialNetwork.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ceci ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currentSocialNetwork.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
