<form method="post" action="{{ path('domain_name_delete', {'id': domain_name.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce nom de domaine ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ domain_name.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
