<td data-filter="false" class="text-center">
    {% set totalCC = clickAndCollects|filter(clickAndCollect => currentSite is not defined or clickAndCollect.site is same as (currentSite))|length %}
    {% if totalCC is same as (0) %}Aucun{% else %}{{ totalCC }}{% endif %}
</td>
