{% if details is not defined %}
    <td>
        {{ client.name }}
        <a href="{{ path('client_show', {'id': client.id}) }}" class="a-link btn icon-title-left"
           data-toggle="tooltip" title="Cliquez pour plus de détails">
            <i class="fa fa-search"></i>
        </a>
    </td>
{% endif %}
