<td class="text-center">
    <a href="{{ link }}" class="btn blue">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
{# TODO : check this #}
{#{% if date(currentServer.renewalDate) < date('+1month') %}#}
{#    <button onclick="updateAddRenewalDate('{{ path('updateAddRenewalDate', {id:currentAd.id}) }}')" class="btn parme">#}
{#        Facturé#}
{#    </button>#}
{#{% endif %}#}
</td>
