<form method="post" action="{{ path('french_echoppe_delete', {'id': currentFrenchEchoppe.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimmer ceci ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currentFrenchEchoppe.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
