<form method="post" action="{{ path('client_delete', {'id': currentClient.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce client ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currentClient.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
