<form method="post" action="{{ path('mail_delete', {'id': currentMail.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir le supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currentMail.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
