{% if withoutSideNav is not defined or withoutSideNav is same as false %}
    {% include 'sidebar.html.twig' %}
{% endif %}
<div class="container-fluid div1">
    <div class="row yellow">
        <div class="col-sm"></div>
        <div class="col-sm">
            <h3 class="titles"><i class="fa fa-tachometer" aria-hidden="true"></i> Tableau de bord</h3></div>
        <div class="col-sm"></div>
    </div>
</div>
