{% extends 'base.html.twig' %}

{% block title %}SiteClientToServicesBinder{% endblock %}

{% block body %}
    <h1>SiteClientToServicesBinder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ site_client_to_services_binder.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('site_client_to_services_binder_index') }}">back to list</a>

    <a href="{{ path('site_client_to_services_binder_edit', {'id': site_client_to_services_binder.id}) }}">edit</a>

    {{ include('site_client_to_services_binder/_delete_form.html.twig') }}
{% endblock %}
