body{
    font-family: Avantgarde;
    background-color: white;
    color: rgb(240, 15, 15);
}
/*For the title*/
.headr{
    text-align: center;
}
.header1 {
    height: 20%;
    width: 100%;
    font-size: 300%;
}
/*For the famnit img*/
.headr2{
    text-align: right;
}
/*for the header*/
.div1{
    width: 100%;
    background-color: white;
    color: rgb(240, 15, 15);
}
/*For the nav*/
.nav1{
    margin-right: 10%;
    margin-left: 10%;
    height: 100%;
}
.div2{
    background-color: white;
}
/*Link in NAV*/
.a1{
    color: white;
    padding: 17px 16px;
    background-color: white;
    font-size: 20px;
}
/*The biggest division usefull for the background*/
.div3{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}
/*The white division*/
.div4{
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
    background-color: white;
}
.menu {
    background-color: rgb(240, 15, 15);
    color: #393942!important;
}

